.btn{
  padding: .6rem 1rem;
  border: none;
  background: #2169f6;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  font-size: 1rem
}

.btn:active{
  transform: scale(.85);
}
.btn:hover{
  /* transform: scale(1.01); */
  outline: 1px solid blue;
}