.loader {
  border: 5px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background: #4fa94db3; */
}

.loader span {
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  position: absolute;
  border: 5px solid transparent;
  border-radius: 50%;
  animation: rotate 1.3s linear infinite;
}

@keyframes rotate {
  to {
    rotate: 360deg;
  }
}